<!DOCTYPE html>
<html>
<body>

    {{user1 | json}}
    <form name="user1">
            <input type="text" placeholder="email" ng-model="user1.email" required>
            <input type="text" placeholder="password" ng-model="user1.password" required>
            <button ng-disabled="user1.$invalid" ng-click = "search()" class="btn btn-success">Szukaj</button>
    </form>
	
	<table id = "userList111" border="1">
      
        <tr ng-repeat="a in answer">
            <td>{{ a }}</td>
        </tr>
    </table>



</body>
</html>