<!DOCTYPE html>
<html>
<head>
<title>Register Page</title>
</head>
<body>

	<div>
	
	 <h2>Wypelnij ponizsze pola aby sie zarejestrowac</h2>
	 
    <form name="registerData">
	<table>
		<tr>
			<td>
			First name:
			</td>
			<td>
			<input type="text" ng-model="registerData.firstName" required>
			</td>
		</tr>
		<tr>
			<td>
			Last name:
			</td>
			<td>
			<input type="text" ng-model="registerData.lastName" required>
			</td>
		</tr>
		<tr>
			<td>
			Email:
			</td>
			<td>
			<input type="text" ng-model="registerData.email" required>
			</td>
		</tr>
		<tr>
			<td>
			Re-email:
			</td>
			<td>
			<input type="text" ng-model="reEmail" required >
			<span ng-show="validEmail()">Emaile musza sie zgadzac!</span>
			</td>
		</tr>
		<tr>
			<td>
			Password:
			</td>
			<td>
			<input type="password" ng-model="registerData.password" required>
			</td>
		</tr>
		<tr>
			<td>
			Re-password:
			</td>
			<td>
			<input type="password" ng-model="rePassword" required>
			<span ng-show="validPassword()">Hasla musza sie zgadzac!</span>
			</td>
		</tr>
		<tr>
			<td>
			<button ng-disabled="registerData.$invalid || validEmail() || validPassword()" ng-click = "register()" class="btn btn-success">Rejestruj</button>
			</td>
			<td>
			</td>
		</tr>
	</table>
    </form>
	</div>
</body>
</html>